.team {
  position: relative;
  z-index: 1;
  margin-bottom: 10rem;
  transition: all 0.5s ease;

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--color-dark);
  }

  h1 {
    margin-bottom: 10rem;
  }
}
