<div *ngIf="!loader">
  <app-loader></app-loader>
</div>
<div class="contact">
  <div class="row">
    <div class="col-xl-12">
      <h1 class="text-light text-center">
        Contact <span class="highlight">Us</span>
      </h1>
    </div>
  </div>
  <div class="row" *ngIf="loader">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-6">
          <div class="contact_us d-flex flex-column">
            <div class="d-flex align-items-center">
              <svg>
                <use href="../../../../assets/icons/mail.svg#mail"></use>
              </svg>
              <a
                href="mailto:baburamneupane98000@gmail.com
              "
                class="text text-light"
                >baburam@gmail.com</a
              >
            </div>
            <div class="d-flex align-items-center">
              <svg>
                <use href="../../../../assets/icons/phone.svg#phone"></use>
              </svg>
              <p class="text text-light">
                9842098000 <span>|</span> 9842297000
              </p>
            </div>
            <div class="d-flex align-items-center">
              <svg>
                <use href="../../../../assets/icons/marker.svg#marker"></use>
              </svg>
              <a
                href="https://goo.gl/maps/UUfsdzdEqUM3B6UD9"
                target="_blank"
                class="text text-light"
                >Hanuman Mandir, Biratnagar, Morang</a
              >
            </div>
          </div>
          <div class="follow_us d-flex flex-column">
            <h3 class="text-light"><span>Follow Us</span></h3>
            <div class="d-flex align-items-center">
              <svg>
                <use href="../../../../assets/icons/tiktok.svg#tiktok"></use>
              </svg>
              <a
                href="https://www.tiktok.com/@baburam_neupane98?_t=8XZ7s3Qj7bN&_r=1&fbclid=IwAR1MV-PaWH9nsCsXDzhcnZsEx7UIqcSpQq14eOaLNk1BrUcn5OmWKrabp0E"
                target="_blank"
                class="text text-light"
                >baburam<span>_</span>neupane98</a
              >
            </div>
            <div class="d-flex align-items-center">
              <svg>
                <use href="../../../../assets/icons/facebook.svg#fb"></use>
              </svg>
              <a
                href="https://www.facebook.com/baburam.neupane.3720"
                target="_blank"
                class="text text-light"
              >
                बाबुराम न्यौपाने सम्राट-मनि-चेन्जर
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div
            class="contact_map d-flex align-items-center justify-content-center"
          >
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d223.24995320590952!2d87.28022126627351!3d26.455753075293334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae098063d7b0922!2sSamrat%20Money%20Transfer!5e0!3m2!1sen!2snp!4v1669055163378!5m2!1sen!2snp"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
