<div class="home d-flex align-items-center justify-content-between">
  <div class="row">
    <div class="col-xl-6">
      <div class="home_title">
        <h1 class="text-light">
          Samrat <span class="highlight">Money</span> Changer
        </h1>
        <a
          [routerLink]="['/smc/services']"
          routerLinkActive="active"
          class="d-flex align-items-center"
        >
          <p class="text">All Services</p>
          <svg>
            <use href="../../../../assets/icons/right.svg#right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-xl-6">
      <figure class="home_img">
        <img
          src="../../../../assets/images/b1.png"
          class="img-fluid"
          alt="images"
        />
      </figure>
    </div>
  </div>
</div>
